---
layout: layout
---
<div class="container">
    <div class="row">
        <div class="col-md-9">
<h1>{{page.title}}</h1>

{{content}}

{% assign filename = page.url | replace_first: '/', '' | replace: '/', '-'  | replace: '.html', '.md' %}
<a href="https://github.com/guileen/guileen.github.com/edit/master/_posts/{{filename}}">编辑</a>
<a href="https://github.com/guileen/guileen.github.com/commits/master/_posts/{{filename}}">修改历史</a>
<!-- Disqus -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'guileen'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<!-- end Disqus -->
        </div>
        <div class="col-md-3 blog-sidebar">
            <div class="affix-">
              {% include aboutme.html %}
                <h3>Related</h3>
                <ul class="nav nav-list">
                    {% for post in site.related_posts limit: 5%}
                    <li><a href="{{post.url}}">{{post.title}}</a></li>
                    {% endfor %}
                </ul>
                {% if page.tags.length %}
                <div>
                    {% for tag in page.tags %}
                    <span class="label label-default"><a href="/tags/{{ tag }}" rel="tooltip" title="Posts about {{tag}}">{{tag}}</a></span>
                    {% endfor %}
                </div>
                {% endif %}
                {% include tagcloud.html %}
            </div>
        </div>
    </div>
</div>
